<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"
          xmlns:th="http://www.thymeleaf.org">
    <title>Profiles</title>
</head>
<body>
<a href="/">Home</a>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Email</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td><a th:href="@{profiles/{id}(id=${person.getId})}" th:text="${person.getName()}"></a></td>
        <td th:text="${person.getEmail()}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>