<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking form</title>
</head>
<body>
<section id="content">
    <a href="/">Home</a>
    <h1>Booking lesson</h1>
    <form action="#" method="post" th:action="@{''}" th:object="${form}">
        <div id="lesson">
            <h2>Lesson information</h2>
            <label>
                Date:
                <input readonly th:value="${lesson.getFrom()}" type="date"/>
            </label>
            <label>
                Time:
                <input readonly th:value="${lesson.getTime()}" type="time"/>
            </label>
            <label>
                Type:
                <input readonly th:value="${lesson.getType()}" type="text"/>
            </label>
            <label>
                Level:
                <input readonly th:value="${lesson.getLevel()}" type="text"/>
            </label>
            <label>
                <input readonly th:value="${lesson?.getInstrument()}" type="text"/>
            </label>
            <label>
                Genre:
                <input readonly th:value="${lesson?.getGenre()}" type="text"/>
            </label>
        </div>
        <div id="student">
            <h2>Student information</h2>
            <label>
                Name:
                <input readonly th:value="${person.getName()}" type="text"/>
            </label>
            <label>
                Email:
                <input readonly th:value="${person.getEmail()}" type="text"/>
            </label>
            <label>
                Phone number:
                <input readonly th:value="${person.getPhoneNumber()}" type="tel"/>
            </label>
        </div>
        <button type="submit">Submit booking</button>
    </form>
</section>
</body>
</html>